<div class="app-container" id="nav-container">
  <div id="nav">
    <div class="nav-section flex">
      <img src="./../../../../../assets/img/mock-logo.svg" alt="" width="150" />
      <h4
        id="delivery-address"
        class="fw-500 dark-purple"
        *ngIf="(currentAddress$ | async) as currentAddress"
      >
        Delivery <br />
        {{currentAddress.street}}
      </h4>
    </div>
    <div class="nav-section">
      <div id="search-restaurants-container">
        <app-autocomplete
          (searchRestaurantsByQuery)="handleRestaurantsSearchQueryChange($event)"
          [(searchQuery)]="restaurantsSearchQuery"
        >
        </app-autocomplete>
      </div>
    </div>
  </div>
</div>
<hr />

<!--------- Restaurants List Container ------------------>
<div class="app-container">
  <h3 class="fw-400">Nearby Restaurants</h3>
  <div
    class="restaurants-list-container"
    *ngIf="this.displayedRestaurants; else skeletonListsContainer"
    infiniteScroll
    [infiniteScrollDistance]="3"
    [infiniteScrollThrottle]="50"
    (scrolled)="appendDisplayedRestaurants()"
  >
    <app-restaurant-preview
      [restaurant]="availableRestaurant"
      *ngFor="let availableRestaurant of displayedRestaurants"
      (click)="viewRestaurantDetails(availableRestaurant.id)"
      (keydown.enter)="viewRestaurantDetails(availableRestaurant.id)"
    ></app-restaurant-preview>
  </div>
  <ng-template #skeletonListsContainer class="restaurants-list-container">
    <div class="restaurants-list-container">
      <app-restaurant-preview
        *ngFor="let e of [].constructor(15); let i = index"
        [restaurant]="undefined"
      ></app-restaurant-preview>
    </div>
  </ng-template>
</div>
