<p-card
  styleClass="p-card-shadow"
  *ngIf="restaurant; else skeletonLoader"
  class="selectable"
>
  <ng-template pTemplate="header">
    <img [src]="restaurant.imageUrl" />
  </ng-template>
  <h2 id="restaurant-title" class="fw-600 dark-purple">
    {{ restaurant.name }}
  </h2>
  <div id="meta-information">
    <span
      *ngIf="
        restaurant.minEstimatedDeliveryTime != -1 &&
        restaurant.maxEstimatedDeliveryTime != -1
      "
    >
      <i class="pi pi-clock"></i>
      {{
        restaurant.minEstimatedDeliveryTime ==
        restaurant.maxEstimatedDeliveryTime
          ? restaurant.minEstimatedDeliveryTime
          : restaurant.minEstimatedDeliveryTime +
            " - " +
            restaurant.maxEstimatedDeliveryTime
      }}
      mins
    </span>
    <span
      *ngIf="
        restaurant.minEstimatedDeliveryTime != -1 &&
        restaurant.maxEstimatedDeliveryTime != -1 &&
        restaurant.averageRating > 0
      "
    >
      &nbsp; &#183; &nbsp;
    </span>
    <span *ngIf="restaurant.averageRating > 0">
      {{ restaurant.averageRating }} / 10 rating
    </span>
  </div>
</p-card>
<ng-template #skeletonLoader>
  <p-card>
    <ng-template pTemplate="header">
      <p-skeleton
        [shape]="'rectangle'"
        height="100%"
        styleClass="z-index-zero"
      ></p-skeleton>
    </ng-template>
    <p-skeleton
      width="40%"
      height="0.9rem"
      styleClass="p-skeleton-margin z-index-zero"
    ></p-skeleton>
    <p-skeleton
      width="80%"
      height="0.9rem"
      styleClass="p-skeleton-margin z-index-zero"
    ></p-skeleton>
  </p-card>
</ng-template>
