::ng-deep {
  .p-dropdown-label::before {
    font-family: "Nunito Sans";
    content: "Sort Restaurants By: ";
    color: #2b2b43;
  }

  #view-fees-button {
    .p-button {
      padding: 0.5rem 1rem;
      width: 100%;
      box-shadow: 0px 8px 20px rgba(66, 135, 245, 0.16);
      border-style: none;

      font-family: "Nunito Sans";
      font-weight: 500;
      font-size: 14px;
      margin: 1rem 0 0 0;

      background-color: #4287f5;
    }
  }
}

:host {
  #settings-container {
    display: flex;
    flex-direction: column;

    background: rgb(246, 246, 246);
    box-sizing: border-box;

    width: 100%;
    height: 100%;
    padding: 1rem;

    position: fixed;
    left: 0;
    bottom: 0;

    z-index: 1;
  }

  #setting-toggles {
    display: flex;
    height: 100%;
    flex-direction: column;
  }

  #hide-settings {
    margin-bottom: 1rem;
    color: #8b8b8f;

    @media only screen and (max-width: 960px) {
      width: 100%;
      height: 2rem;
      background: #616161;
      text-align: center;
      font-family: "Nunito Sans";
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2rem;
      padding: 1.5rem;
      border-radius: 0.5rem;

      span {
        color: white;
      }
    }
  }

  .setting-container {
    font-family: "Nunito Sans";
    color: #2b2b43;

    padding: 1rem;

    background: #ffffff;
    border: 1px solid #dedfe1;
    border-radius: 10px;

    margin-right: 1rem;

    width: 100%;
    margin-bottom: 1rem;
  }

  .setting-container > h4 {
    margin: 0 0 1rem 0;
    font-weight: 500;
  }

  hr {
    border: 0;
    border-bottom: 1px solid #edeef2;
    margin: 1rem 0 1rem 0;
    width: 100%;
  }

  #header {
    display: flex;
    flex-direction: column;
  }

  // FILTER SETTINGS
  ::ng-deep {
    .p-slider-handle:focus::before {
      content: attr(aria-valuenow);
      top: -2.8rem;
      left: -0.7rem;
      position: relative;
      background-color: #3c4257;
      padding: 0.5rem;
      color: #e3e8ee;
      border-radius: 4px;
      box-shadow: 0px 1px 2px rgba(55, 65, 81, 0.06),
      0px 1px 3px rgba(55, 65, 81, 0.1);
      font-weight: 600;
    }

    .p-dropdown .p-dropdown-label.p-placeholder {
      font-family: "Nunito Sans";
      color: #2b2b43;
    }

    #pr_id_2_label {
      font-family: "Nunito Sans";
      color: #8789a1;
    }

    .p-dropdown {
      width: 100%;
    }
  }

  @media only screen and (min-width: 960px) {
    #settings-container {
      flex-direction: column-reverse;
      border-radius: 16px;
      position: initial;
    }
    hr {
      display: none;
    }
    #header {
      display: none;
    }
    .setting-container {
      margin-bottom: 0;
    }
  }
}
