<div class="p-inputgroup">
  <p-autoComplete
    [delay]="1000"
    [suggestions]="suggestions"
    [showEmptyMessage]="true"
    [(ngModel)]="searchQuery"
    [placeholder]="'Search Restaurants or Cuisines'"
    (completeMethod)="handleSearchQueryChange($event)"
    [completeOnFocus]="true"
    emptyMessage=" "
  >
    <ng-template pTemplate="header">
      <ul class="p-autocomplete-items">
        <li
          class="p-ripple p-element p-autocomplete-item"
          (click)="handleSearchRestaurants()"
        >
          <div class="item">
            <a class="link">Search Restaurants & Cuisines</a>
          </div>
        </li>
      </ul>
    </ng-template>
  </p-autoComplete>
</div>
