<div class="p-inputgroup">
  <p-autoComplete
    [delay]="500"
    [suggestions]="suggestions"
    [showEmptyMessage]="true"
    [(ngModel)]="searchQuery"
    [placeholder]="'Search Restaurants or Cuisines'"
    (completeMethod)="handleSearchQueryChange($event)"
    (onSelect)="handleSuggestionSelection($event)"
    (onClear)="handleSearchQueryCleared($event)"
    field="name"
    dataKey="id"
    [emptyMessage]="
      'No restaurants found. Try searching by cuisines and items.'
    "
  >
    <ng-template pTemplate="header">
      <div class="item">
        <span><b>Restaurants</b></span>
        <a class="link" (click)="handleViewAllRestaurants()">View All</a>
      </div>
    </ng-template>
    <ng-template pTemplate="footer">
      <div class="item">
        <a class="link" (click)="handleSearchCuisines()"
          >Search Cuisines and Items</a
        >
      </div>
    </ng-template>
  </p-autoComplete>
  <i class="pi pi-search p-inputgroup-addon"></i>
</div>
